<script type="text/javascript" src="{{ url_for('static', filename='js/action.js') }}"></script>

<div id="footer-wrapper">
  <div id="footer-submit">
    <a href="javascript:{}" onclick="document.getElementById('produce_rs').submit(); return false;">Ausf&uuml;hren</a>
  </div>
  <div id="footer-back">
    <a href="/">Men&uuml;</a>
  </div>
  <div id="footer-action">
    <p><a href="javascript:{}" onclick="rs_action('1.0');">Ge&ouml;ffnet</a></p>
    <p><a href="javascript:{}" onclick="rs_action('0.0');">Geschlossen</a></p>
    <p><a href="javascript:{}" onclick="rs_action('0.2');">Privatsphere</a></p>
    <p><a href="javascript:{}" onclick="rs_action('0.6');">Sonnenschutz</a></p>
  </div>
</div>
