{% extends "layout.html" %}

{% block content %}

<div class="sidenav">

  <button class="dropdown-btn">Bereiche
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    {% for room in rooms %}
    <a href="/obj/{{ room['id'] }}/{{ room['navstart'] }}/">{{ room['name'] }}</a>
    {% endfor %}
  </div>

  <button class="dropdown-btn">Gruppen
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    {% for function in functions %}
    <a href="/obj/{{ function['id'] }}/{{ function['navstart'] }}/">{{ function['name'] }}</a>
    {% endfor %}
    <a href="/obj/0000/sv/">Systemvariablen</a>
  </div>

  <button class="dropdown-btn">Wartung
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="/reload">Daten erneut laden</a>
    <a href="/update">Ger&auml;testatus aktualisieren</a>
  </div>

</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
{% endblock %}
