{% set show = {'rs': False, 'th': False, 'po': False} -%}

{% for r in object_data -%}

  {% if "hmip-broll" in r['model'] %}
    {% if show.update({'rs': True}) %}{% endif %}
  {% endif %}

  {% if "hmip-bwth" in r['model'] or "hmip-wth-2" in r['model']%}
    {% if show.update({'th': True}) %}{% endif %}
  {% endif %}

  {% if "hmip-fsm" in r['model'] or "hmip-psm" in r['model']%}
    {% if show.update({'po': True}) %}{% endif %}
  {% endif %}

{% endfor -%}

<div id="navigation-wrapper">

  {% if show.rs == True %}
  <div id="navigation">
    <a href="/obj/{{ object_id }}/rs/"><img src="{{ url_for('static', filename='img/window.png') }}"></a>
  </div>
  {% endif %}

  {% if show.th == True %}
  <div id="navigation">
    <a href="/obj/{{ object_id }}/th/"><img src="{{ url_for('static', filename='img/heizung.png') }}"></a>
  </div>
  {% endif %}

  {% if show.po == True %}
  <div id="navigation">
    <a href="/obj/{{ object_id }}/po/"><img src="{{ url_for('static', filename='img/power.png') }}"></a>
  </div>
  {% endif %}

  <div id="navigation">
    <a href="/"><img src="{{ url_for('static', filename='img/menu.png') }}"></a>
  </div>

  <div id="navigation">
    <a href="javascript:{}" onclick="document.getElementById('produce_{{ category }}').submit(); return false;"><img src="{{ url_for('static', filename='img/check.png') }}"></a>
  </div>

</div>
<hr />
