{% set show = {'rs': False, 'th': False, 'po': False} -%}

{% for r in object_data -%}

  {% if "hmip-broll" in r['model'] %}
    {% if show.update({'rs': True}) %}{% endif %}
  {% endif %}

  {% if "hmip-bwth" in r['model'] or "hmip-wth-2" in r['model'] %}
    {% if show.update({'th': True}) %}{% endif %}
  {% endif %}

  {% if "hmip-fsm" in r['model'] or "hmip-psm" in r['model'] or "hmip-bsm" in r['model'] %}
    {% if show.update({'po': True}) %}{% endif %}
  {% endif %}

{% endfor -%}

<div id="navigation-wrapper">

  {% if show.rs == True %}
  <a href="/obj/{{ object_id }}/rs/">
    <div id="navigation-object" style="background-image: url({{ url_for('static', filename='img/window.png') }})"></div>
  </a>
  {% endif %}

  {% if show.th == True %}
  <a href="/obj/{{ object_id }}/th/">
    <div id="navigation-object" style="background-image: url({{ url_for('static', filename='img/heizung.png') }})"></div>
  </a>
  {% endif %}

  {% if show.po == True %}
  <a href="/obj/{{ object_id }}/po/">
    <div id="navigation-object" style="background-image: url({{ url_for('static', filename='img/power.png') }})"></div>
  </a>
  {% endif %}

  <a href="javascript:{}" onclick="document.getElementById('produce_{{ category }}').submit(); return false;">
    <div id="navigation-main" style="background-image: url({{ url_for('static', filename='img/check.png') }})"></div>
  </a>

  <a href="/">
    <div id="navigation-main" style="background-image: url({{ url_for('static', filename='img/menu.png') }})"></div>
  </a>

</div>
