{% extends "layout.html" %}

{% block content %}
{% set show = {'rs': False, 'th': False} -%}

{% for r in object_data -%}
  {% if "BROLL" in r['model'] %}
    {% if show.update({'rs': True}) %}{% endif %}
  {% endif %}

  {% if "BWTH" in r['model'] %}
  {% if show.update({'th': True}) %}{% endif %}
  {% endif %}
{% endfor -%}

  {% if show.rs == True -%}
    {% include "rollershutter.html" %}
  {% endif %}

  {% if show.th == True -%}
    {% include "thermostat.html" %}
  {% endif %}

{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}
