<script type="text/javascript" src="{{ url_for('static', filename='js/radio_checked.js') }}"></script>

<div id="object">
    {{ name }}
</div>
<div id="object-wrapper">
  <div id="object-slider">
    <input type="hidden" name="control" value="{{ control }}">
    <input type="hidden" name="device" value="{{ device }}">
    <input type="radio" name="new_value_{{ device }}" id="radio_true_{{ device }}" value="true">
    <label for="radio_new_value_{{ device }}">AN</label>
    <input type="radio" name="new_value_{{ device }}" id="radio_false_{{ device }}" value="false">
    <label for="radio_new_value_{{ device }}">AUS</label>
  </div>
</div>
