<script type="text/javascript" src="{{ url_for('static', filename='js/action.js') }}"></script>

<div id="footer-wrapper">
  <div id="footer-action">

    <a href="javascript:{}" onclick="rs_action('1.0');">
      <div id="navigation-object" style="background-image: url({{ url_for('static', filename='img/up-arrow.png') }})"></div>
    </a>

    <a href="javascript:{}" onclick="rs_action('0.6');">
      <div id="navigation-object" style="background-image: url({{ url_for('static', filename='img/sunglasses.png') }})"></div>
    </a>

    <a href="javascript:{}" onclick="rs_action('0.2');">
      <div id="navigation-object" style="background-image: url({{ url_for('static', filename='img/visibility.png') }})"></div>
    </a>

    <a href="javascript:{}" onclick="rs_action('0.0');">
      <div id="navigation-object" style="background-image: url({{ url_for('static', filename='img/down-arrow.png') }})"></div>
    </a>

  </div>
</div>
