<script type="text/javascript" src="{{ url_for('static', filename='js/action.js') }}"></script>

<div id="footer-wrapper">
  <hr />
  <div id="footer-action">

    <div id="navigation-object">
      <a href="javascript:{}" onclick="rs_action('1.0');"><img src="{{ url_for('static', filename='img/up-arrow.png') }}"></a>
    </div>

    <div id="navigation-object">
      <a href="javascript:{}" onclick="rs_action('0.6');"><img src="{{ url_for('static', filename='img/sunglasses.png') }}"></a>
    </div>

    <div id="navigation-object">
      <a href="javascript:{}" onclick="rs_action('0.2');"><img src="{{ url_for('static', filename='img/visibility.png') }}"></a>
    </div>

    <div id="navigation-object">
      <a href="javascript:{}" onclick="rs_action('0.0');"><img src="{{ url_for('static', filename='img/down-arrow.png') }}"></a>
    </div>

  </div>
</div>
