{% extends "layout.html" %}

{% block content %}
{% set show = {'rs': False, 'th': False} -%}

{% for r in room_data[2] -%}
  {% if "rs" in r.id %}
    {% if show.update({'rs': True}) %}{% endif %}
  {% endif %}

  {% if "th" in r.id %}
  {% if show.update({'th': True}) %}{% endif %}
  {% endif %}
{% endfor -%}

<table border=2>

  {% if show.rs == True -%}
    {% include "rollershutter.html" %}
  {% endif %}

  {% if show.th == True -%}
    {% include "thermostat.html" %}
  {% endif %}

</table>
{% endblock %}

{% block footer %}
  <p><a href="/">back</a></p>
{% endblock %}
